# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
*.so

# Project data & resources
resources/
*.csv
*.zip
database/*.db
database/*.db-journal
data/raw/
data/taxi_zones/

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.envrc
.venv
venv/
env/

# Testing
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# Flask
instance/
.webassets-cache

# IDEs
.idea/
.vscode/
.ruff_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db
